<body>
<div style="text-align: center">
    <form method="post" action=''>
        {% csrf_token %}
        <div>
            Search product
            <input type="text" name="product_name" value="{{ name }}">
            <input type="submit" value="find">
        </div>
    </form>
</div>
{% if name != '' %}
    <table width="95%">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
        {% for product in products %}
            <tr>
                <th><a href={% url 'product' product_id=product.3 %}>{{ product.0 }}</a></th>
                <th>{{ product.1 }}</th>
                <th>{{ product.2 }}</th>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>